<!DOCTYPE html>
<html>
	<head>
		<title>Formstack Sample App</title>
		<link rel="stylesheet" href="./vendor/bootstrap.min.css">
		<link rel="stylesheet" href="./style.css">
	</head>
	<body ng-app="app">
		<div class="page-header header">
			<img src="https://upload.wikimedia.org/wikipedia/en/9/9a/Formstack_logo_web.gif" alt="Formstack Logo">
			<h2 class="title">Sample Application</h2>
  	</div>
		<div class="row">
			<div ng-controller="appController" class="col-xs-12 text-center">
				<h4>Enter a number between 0 and 1 to see it converted to a percentage</h4>
				<form role="form" ng-submit="submit()">
					<input type="number" step="0.0001" min="0" max="1" ng-model="num" class="form-control input">
					<button type="submit" name="button">Submit</button>
					<button type="button" name="random" ng-click="random()">Random</button>
					<button type="button" name="clear" ng-click="clear()">Clear</button>
				</form>
				<ul ng-repeat="num in percents track by $index" class="percent-list">
					<li>
						{{num}}%
						<div class="percent-bar">
							<div class="fill-bar" ng-style="{width: {{num}} + '%' }"></div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<script src="./vendor/jquery.min.js"></script>
		<script src="./vendor/bootstrap.min.js"></script>
		<script src="./vendor/angular.min.js"></script>
		<script src="./vendor/angular-route.min.js"></script>
    <script src="./bundle.js"></script>
	</body>
</html>
